.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 128px;
    line-height: 132px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25%;
    margin-top: 25%;
}

body {
    display: flex;
    background-image: url(./source/bg.png);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    background-position: left -10px top -10px;
}

.card {
    width: 80%;
    background: #F4F4F4;
    border-radius: 74px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 100px;
}

img {
    height: 10%;
    width: 40%;
}

.download {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 3vh;
    line-height: 3.5vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #2F5B80 0%, #417A8F 48.64%, #549B9F 100%);
    border-radius: 4vh;
    padding: 2vh;
    padding-left: 7vh;
    padding-right: 7vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

a {
    text-decoration: none;
}